<!DOCTYPE HTML>

<html>

<head>
    <base href="[(site_url)]" />
    <meta charset="utf-8">
    <title>[*pagetitle*]</title>
    <meta name="description" content="[*description*]" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" />
    <link rel="icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/lightbox.css">
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
    <script src="js/jquery-1.11.0.min.js" ></script>
    <script src="js/lightbox.min.js"></script>

</head>

<body>

<a href="img/demopage/image-2.jpg" data-lightbox="roadtrip">Image #2</a>
<div class="picta"><a href="img/demopage/image-3.jpg" data-lightbox="roadtrip"><img class="example-image" src="img/demopage/image-3.jpg" alt="image-1"></a></div>

</body>

</html>




<div class="cls" id="mormo">
<div id="block">
<a class="hide-call">Закрыть форму</a>
<div class="my-price pure_table">
[[*price-list]]
</div>
</div>
</div>

<div class="cls" id="mormo">
<div id="auth">
<a class="hide-call">Закрыть форму</a>
<div class="my-price pure_table">
[[*price-list]]
</div>
</div>
</div>