






// Adaptive height Element


/* Adaptive */
@media (max-width: 1024px) {
  

  .padge {
    padding-top: calc(var(--varPadge) - 1rem) !important;
  }

  .flexnav {
    /* position: fixed; */
    top: 0;
    height: 100%;
    bottom: 0;
    left: -80%;
    padding: 25px 0;
    width: 80%;
    background: #fff;
    /* box-shadow: 0px 0px 17.69px -4px rgba(0, 0, 0, 0.25); */
    transition: 0.2s;

    &:after {
      content: "";
      position: absolute;
      display: block;
    }

    .vertical_nav {
      flex-direction: column;
    }

    ul {
      li {
        a {
          text-align: right;
          padding-right: 20px;
        }

        &:hover {
          ul {
            position: relative;
            box-shadow: none;
            background: #c7c7c7;
            border-radius: 0;
          }
        }
      }
    }
  }

  .nav-holder.showNav {
    left: 0;
    visibility: visible;
    transition: 0.2s;
  }

  .nav-holder.showNav .flexnav {
    left: 0;
  }

  .nav-holder {
    position: fixed;
    width: 100%;
    left: 0;
    visibility: hidden;
    top: 0;
    bottom: 0;
    transition: 0.2s;
    z-index: 99;
  }

  .showNav {
    animation-duration: 0.2s;
    animation-name: shadBg;
    animation-fill-mode: forwards;
    transition: 0.2s;
  }

  .nav-holder .toggle {
    display: inline-flex;
  }

  @keyframes shadBg {
    0% {
      background: #ffffff00;
    }

    100% {
      background: hsla(0, 0%, 26%, 0.4);
    }
  }
}

@media (max-width: 768px) {

  .fdc-768 {
    flex-direction: column;
  }

  .dg-4-768 {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
  .dg-3-768 {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  .dg-2-768 {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .dg-1-768 {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  html {
    font-size: 9px;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.6rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 2.2rem;
  }

  .header {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}



@media (max-width: 540px) {
  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 2rem;
  }

  .news-content {
    .inside-img {
      display: inline-block;
      float: none;
      max-width: 100%;
      margin: 0 0 25px 0;
    }
  }
}
