/* ===== Base Styles ===== */
/*Comissioner*/
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Comissioner";
  src: url("../fonts/Commissioner-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --fontRoot: "Comissioner";
  --fontSizeRoot: 1.7rem;
  --colorRoot: hsl(216, 100%, 63%);
  --colorRootHov: hsl(216, 100%, 43%);
  --inputPadding: 15px;
  --transit: 0.2s;
  --rootBdrs: 5px;
  --textBaseColor: #494949;
  --var100: 100px;
}

html {
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
  font-size: var(--fontSizeRoot);
  font-family: var(--fontRoot), sans-serif;
  font-weight: 400;
  margin: 0;
  color: #494949;
  position: relative;
  background: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  border: none;
}

a {
  color: var(--colorRoot);
  transition: var(--transit);
}
a:hover {
  color: var(--colorRootHov);
  transition: var(--transit);
}

/*Titles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

.title,
.topic {
  font-weight: 700;
}

h1,
.t1 {
  font-size: 4.4rem;
  margin: 0 0 3rem;
}

h2,
.t2 {
  font-size: 4rem;
  margin: 1rem 0 2.8rem;
}

h3,
.t3 {
  font-size: 3.6rem;
  margin: 1rem 0 2.6rem;
}

h4,
.t4 {
  font-size: 3.2rem;
  margin: 1rem 0 2.4em;
}

h5,
.t5 {
  font-size: 2.8rem;
  margin: 1rem 0 2.2rem;
}

h6,
.t6 {
  font-size: 2.4rem;
  margin: 1rem 0 2rem;
}

p {
  margin: 15px 0;
  line-height: 120%;
}

blockquote {
  padding: 10px;
}

ul li, ol li {
  margin: 0 0 2rem 0;
}

/* ===== Base Styles End ===== */
/* ===== Form Elements ===== */
form label {
  display: inline-block;
  margin: 0 0 5px 0;
}

.form-full {
  width: 100%;
}
.form-full :is(input:is([type=text],
[type=tel],
[type=email],
[type=password],
[type=search],
[type=number],
[type=file]),
textarea,
select) {
  width: 100%;
}
.form-full .password-holder,
.form-full .select-holder {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit],
input[type=search],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
button,
select,
textarea {
  font-family: var(--fontRoot), sans-serif;
  font-size: var(--fontSizeRoot);
  display: block;
  padding: var(--inputPadding);
  margin-bottom: 10px;
  border: none;
  background: #EDEDED;
  border-radius: var(--rootBdrs);
}

input[type=submit],
input[type=search],
button {
  border: none;
  cursor: pointer;
  font-family: var(--fontRoot), sans-serif;
}

select {
  padding-right: 30px;
  background-image: url(../img/arrow-down-2.svg);
}
select option {
  padding: 22px;
}

.select-holder {
  display: inline-block;
  position: relative;
}
.select-holder .select-arrow {
  position: absolute;
  top: 10px;
  right: 5px;
  bottom: 0;
  padding: 2px;
  width: 20px;
  height: 20px;
}
.select-holder .select-arrow svg,
.select-holder .select-arrow svg g {
  fill: var(--colorRoot);
}

.password-holder {
  display: inline-block;
  position: relative;
}
.password-holder input :is([type=password], [type=text]) {
  padding-right: 20px;
}
.password-holder .ico {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 5px;
  bottom: 0;
}
.password-holder .eye {
  display: none;
}
.password-holder .eye svg {
  fill: var(--colorRoot);
}
.password-holder .show-pass.close .eye-close {
  display: block;
}
.password-holder .show-pass.open .eye-open {
  display: block;
}

/*Custom radio*/
.radio {
  display: none;
}

.radio-custom {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
}
.radio-custom .label {
  display: inline-block;
  vertical-align: middle;
}

.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #403c42;
  border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}

/*Custom checkbox*/
.checkbox {
  display: none;
}

.checkbox-custom {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 2px;
}
.checkbox-custom .label {
  display: inline-block;
  vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: url(http://5bro.ru/template/storage/checkmark-1.svg);
  background-size: contain;
  border-radius: 2px;
}

.contento {
  flex-grow: 1;
  flex-shrink: 0;
}

/* ===== Form Elements End ===== */
/* ===== Page Elements ===== */
.centro {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
}

.content {
  padding: 30px 0;
}

.ttu {
  text-transform: uppercase;
}

.logo {
  display: block;
  width: 100%;
  max-width: 200px;
}
.logo img,
.logo svg {
  display: block;
  width: 100%;
}

.img-holder img,
.img-holder svg {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  /* width: 100%;
      height: 100%; */
}

.ico {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ico img,
.ico svg {
  width: 100%;
  height: 100%;
}

/*Lisn*/
.lisn {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lisn li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  gap: 20px;
}
.lisn li img,
.lisn li svg {
  display: block;
  width: 100%;
}
.lisn li * {
  margin: 0 5px 0 0;
}
.lisn.nf li {
  display: block;
}
.lisn.lima-20 li {
  margin-bottom: 20px;
}
.lisn.lima-30 li {
  margin-bottom: 30px;
}
.lisn.lima-40 li {
  margin-bottom: 40px;
}

.whm {
  min-width: 0;
  min-height: 0;
}

.title-holder {
  margin: 0 0 20px;
}
.title-holder .title {
  margin-top: 0;
}

.topic {
  margin-top: 0;
}

.nope p:first-child {
  margin-top: 0;
}

.coverin img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.radi {
  border-radius: var(--rootBdrs);
}

.padi {
  padding: 30px 25px;
}

.shad {
  box-shadow: 0px 0px 17.69px -4px rgba(0, 0, 0, 0.25);
}

.mat {
  margin: 0 auto;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

/*Flex Nav*/
.flexnav {
  position: relative;
  background-position: 100% 0;
  background-size: 200% 200%;
  width: 100%;
  z-index: 99;
}
.flexnav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  /* li a:hover:after {
          content: '';
          position: absolute;
          bottom: 0;
          display: block;
          height: 2px;
          width: 100%;
          background: #243153;
          transition: 0.2s;
      } */
  /*Twice level menu*/
  /*Third level menu*/
}
.flexnav ul li {
  position: relative;
  width: 100%;
}
.flexnav ul li a {
  position: relative;
  padding: 12px 0;
  text-align: center;
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
  color: #494949;
  transition: 0.3s;
}
.flexnav ul li a:hover {
  color: var(--colorRootHov);
  transition: var(--transit);
}
.flexnav ul li a:first-child:nth-last-child(2):after {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../img/arrow-down-black.svg) no-repeat center;
  background-size: contain;
  margin: 0 0 0 10px;
  padding-top: 5px;
  width: 11px;
  height: 14px;
}
.flexnav ul li ul {
  display: none !important;
  /* box-shadow: 2px 3px 5px #ebebeb; */
  z-index: 99;
}
.flexnav ul li:hover ul {
  position: absolute;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  background: #fff;
  transition: 0.3s;
}
.flexnav ul li ul li a {
  color: #000;
  white-space: normal;
}
.flexnav ul li ul li ul {
  display: none !important;
  z-index: 99;
}

/*Toggle button*/
.toggle {
  width: 100%;
  text-align: center;
  display: none;
  padding: 5px 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

.toggle-btn svg,
.toggle-btn img {
  width: 50px;
  height: 30px;
}

.toggle-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 32px;
  height: 26px;
  cursor: pointer;
  transition: 0.2s;
}
.toggle-btn svg,
.toggle-btn img {
  width: 50px;
  height: 30px;
}

.toggle-btn:hover {
  transition: 0.2s;
}

.toggle-btn .line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 2px 0;
  background: var(--logoRoot);
  transition: 0.2s;
}

.toggle-btn.cross-tog .line {
  position: absolute;
  /* width: 50%; */
  top: 40%;
  transition: 0.2s;
}

.toggle-btn.cross-tog .l1 {
  transform: rotate(45deg);
  transition: 0.2s;
}

.toggle-btn.cross-tog .l2 {
  display: none;
}

.toggle-btn.cross-tog .l3 {
  transform: rotate(-45deg);
  transition: 0.2s;
}

@keyframes nav-animation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Footer */
.footer-holder {
  background: #333;
  color: #fff;
  padding: 50px 0 0 0;
  background: rgba(255, 255, 255, 0.2039215686);
}

.copyright {
  padding: 25px 0;
  margin: 25px 0 0 0;
  font-size: 1.4rem;
  border-top: solid 1px #a29f9c;
  color: #bfbfbf;
}

/*Great Greed*/
.great-grid {
  display: grid;
  gap: 20px;
  /*line style*/
  /*grid style*/
  /*chess style*/
  /*other greed elements style*/
}
.great-grid.line {
  grid-template-columns: repeat(1, 100%);
}
.great-grid.line .unit {
  display: flex;
  align-items: start;
}
.great-grid.grid {
  grid-template-columns: repeat(3, 1fr);
}
.great-grid.chess .unit:nth-child(even) .hlr .left {
  order: 2;
}
.great-grid .row {
  margin-bottom: 15px;
}
.great-grid .topic {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0 0 10px 0;
}
.great-grid .date {
  color: #888;
  margin: 0 0 10px 0;
}
.great-grid .description {
  color: #888;
  margin: 0 0 10px 0;
  font-size: 1.8rem;
}
.great-grid .img-holder {
  overflow: hidden;
  /* img {
          object-fit: cover;
          width: 100%;
          height: 100%;
      } */
}

@media (max-width: 768px) {
  .great-grid.line .unit {
    flex-direction: column;
  }
  .great-grid.line .img-holder {
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    margin: 0 0 10px 0;
  }
  .great-grid.chess .unit {
    flex-direction: column;
  }
  .great-grid.chess .unit:nth-child(even) .img-holder {
    order: inherit;
    margin: 0 0 15px 0;
  }
}
/*Flex Grid*/
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.flex-grid.nw {
  flex-wrap: nowrap;
}
.flex-grid .unit {
  flex: 1 1 30%;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 1px 5px #e3e3e3;
}

/*Table*/
table {
  /* border-collapse: collapse; */
  /* border: 1px solid #333; */
}
table thead tr,
table thead:hover tr {
  background: var(--colorRoot);
  color: #fff;
}
table tfoot tr,
table tfoot:hover tr {
  background: #333;
  color: #fff;
}
table tr {
  transition: 0.2s;
}
table tr:hover {
  background: #c7c7c7;
  transition: 0.2s;
}
table tr td {
  border-bottom: 1px solid #999;
  padding: 5px 10px;
}
table tr:last-of-type td {
  border-bottom: none;
}

/* Lic - Flex element for manu variations */
.lic {
  display: flex;
  align-items: center;
}

.if {
  display: inline-flex;
}

.w {
  flex-wrap: wrap;
}

.f100 {
  flex: 1 1 100%;
}

.rr {
  flex-direction: row-reverse;
}

.sb {
  justify-content: space-between;
}

.sa {
  justify-content: space-around;
}

.c {
  justify-content: center;
}

.ed {
  justify-content: end;
}

.ais {
  align-items: start;
}

.aie {
  align-items: end;
}

.sth {
  align-items: stretch;
}

.v {
  flex-direction: column;
}

.cell > * {
  flex: 1 1 100%;
}

.greed > * {
  flex: 1 1 auto;
}

.child > * {
  display: flex;
  align-items: center;
}

.ase {
  align-self: end;
}

.flc-20 {
  width: 20%;
  flex: 1 0 20%;
}

.flc-30 {
  width: 30%;
  flex: 1 0 30%;
}

.flc-40 {
  width: 40%;
  flex: 1 0 40%;
}

.flc-50 {
  width: 50%;
  flex: 1 0 50%;
}

/*Pagination*/
.pagination {
  padding: 20px 0 0 0;
  list-style: none;
  text-align: center;
}
.pagination li {
  display: inline-block;
}
.pagination li.active {
  padding: 10px;
}
.pagination li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

/* Section */
.section {
  padding: 30px 0 50px;
}

/* Tabs */
.tabs__content {
  display: none;
}
.tabs__content.active {
  display: block;
}

.tabs__caption {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: solid 1px #e1e5e7;
}
.tabs__caption li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background: #989898;
}
.tabs__caption li.active {
  color: #fff;
  background: #385ba1;
}

/* SpoilaFAQ */
.spoiladoor {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.spoiladoor .info {
  padding: 20px 0 0 0;
  max-width: 700px;
}

.spoilakey {
  position: relative;
  background: #fff;
  margin: 0 0 20px 0;
}
.spoilakey .topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
}
.spoilakey .topic:hover {
  background: hsl(0, 0%, 90%);
  transition: 0.2s;
}
.spoilakey .cross {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6fb;
  width: 40px;
  height: 40px;
  flex: 0 1 40px;
  border-radius: 50px;
}
.spoilakey .cross .plus {
  position: absolute;
  height: 1px;
  width: 60%;
  background: #629cf4;
  top: auto;
  bottom: auto;
  display: block;
}
.spoilakey .cross .minus {
  position: absolute;
  width: 1px;
  height: 60%;
  background: #629cf4;
  top: auto;
  bottom: auto;
  display: block;
}

.topic .cross {
  transition: 0.2s;
}

.topic.spoilastyle .cross {
  transform: rotate(45deg);
  transition: 0.2s;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0 0 10px 0;
  padding: 3px 5px;
  list-style: none;
  background: #2e2e2e;
  color: #fff;
  font-size: 12px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li:after {
  content: " /";
}
.breadcrumbs li:last-child:after {
  content: "";
}
.breadcrumbs li a {
  color: #fff;
}

/*DL list*/
.dl-list dl {
  display: flex;
}
.dl-list dt {
  flex: 1 1 35%;
}
.dl-list dd {
  flex: 1 1 65%;
}

/*Adapt-T*/
.adapt-t {
  width: 100%;
  position: relative;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .adapt-t {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0)), linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25));
    background-repeat: no-repeat, no-repeat;
    background-position: right 100%, right 100%;
    background-size: 4px 100%, 4px 100%;
    background-origin: padding-box, border-box;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  .adapt-t::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  .adapt-t::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: #f5f5f5;
  }
  .adapt-t::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  .adapt-t table {
    width: 100% !important;
  }
}
/* ===== Page Elements End ===== */
/* ===== Additional Elements ===== */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tdn {
  text-decoration: none;
}

/* Display */
.dn {
  display: none;
}

.dg {
  display: grid;
}

.df {
  display: flex;
}

.ws {
  white-space: nowrap;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.cp {
  cursor: pointer;
}

.np {
  padding: 0 !important;
}

.nm {
  margin: 0 !important;
}

/* ===== Additional Elements End ===== */
/* ===== Buttons ===== */
.init-btn {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  white-space: nowrap;
  margin: 0;
  border-radius: var(--rootBdrs);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}
.init-btn:hover {
  transition: 0.2s;
}

.tag-btn {
  display: inline-block;
  padding: 5px 15px;
  margin: 0;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}
.tag-btn:hover {
  transition: 0.2s;
}

/*Blue Button*/
.blue-btn {
  color: #fff;
  background: var(--colorRoot);
}
.blue-btn.init-btn:hover {
  color: #fff;
  background: hsl(216, 100%, 53%);
}
.blue-btn.t {
  color: rgb(116, 143, 200);
}

/*White Button*/
.white-btn {
  background: #fff;
}
.white-btn.init-btn {
  color: var(--colorRoot);
}
.white-btn.init-btn:hover {
  color: var(--colorRoot);
  background: #e6e6e6;
}
.white-btn.t {
  color: #fff;
}

/*Black Button*/
.black-btn {
  color: #fff;
  background: hsl(0, 0%, 20%);
}
.black-btn.init-btn:hover {
  color: #fff;
  background: hsl(0, 0%, 10%);
}
.black-btn.t {
  color: hsl(0, 0%, 20%);
}

/*Green Button*/
.green-btn {
  color: #fff;
  background: hsl(113, 78%, 32%);
}
.green-btn.init-btn:hover {
  color: #fff;
  background: hsl(113, 78%, 22%);
}
.green-btn.t {
  color: hsl(113, 78%, 32%);
}

/*Red Button*/
.red-btn {
  color: #fff;
  background: hsl(0, 75%, 38%);
}
.red-btn.init-btn:hover {
  color: #fff;
  background: hsl(0, 75%, 28%);
}
.red-btn.t {
  color: hsl(0, 75%, 38%);
}

/*Gray Button*/
.gray-btn {
  color: #fff;
  background: hsl(0, 0%, 59%);
}
.gray-btn.init-btn:hover {
  color: #fff;
  background: hsl(0, 0%, 49%);
}
.gray-btn.t {
  color: hsl(0, 0%, 49%);
}

/*Gray Button*/
.sand-btn {
  background: #FFF7E1;
}
.sand-btn.init-btn {
  color: #fff;
}
.sand-btn.init-btn:hover {
  color: #fff;
  background: hsl(44, 100%, 89%);
}
.sand-btn.t {
  color: #FFF7E1;
}

.t,
.t:hover {
  padding: 20px 0;
  background: none !important;
}

.tb {
  color: var(--textBaseColor) !important;
}

/* ===== Buttons End ===== */
/* Left Right Holder */
.hlr {
  display: flex;
}
.hlr .left,
.hlr .right {
  flex: 1 1 50%;
}

.glr {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 10px;
}

/* News Content */
.news-content:after {
  content: "";
  display: table;
  clear: both;
}
.news-content .inside-img {
  display: inline-block;
  float: left;
  max-width: 50%;
  margin: 0 25px 0 0;
}
.news-content p:first-of-type {
  margin-top: 0;
}

/* Ajax Hint */
.ajax-hint {
  position: fixed;
  z-index: 999;
  background: orange;
  color: #fff;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
}

.hint-cross {
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 30%;
}

/* Midnight */
.midnight {
  position: relative;
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
}
.midnight img {
  position: absolute;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.midnight .mid-cont {
  position: relative;
  z-index: 2;
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(17, 17, 17, 0.6431372549), rgba(17, 17, 17, 0.2274509804));
  z-index: 2;
}/*# sourceMappingURL=a5b-styles.css.map */