/* Commissioner Variable Font */
@font-face {
  font-family: "Comissioner";
  src: url("../../fonts/Commissioner-VariableFont_FLAR,VOLM,slnt,wght.ttf") format("truetype-variations"),
       url("../../fonts/Commissioner-VariableFont_FLAR,VOLM,slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --fontRoot: "Comissioner";
  --fontSizeRoot: 1.7rem;
  --colorRoot: hsl(216, 100%, 63%);
  --colorRootHov: hsl(216, 100%, 43%);
  --colorTxt: #494949;
  --inputPadding: 15px;
  --transit: 0.2s;
  --rootBdrs: 10px;
}

*,
*:before, 
*:after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
  font-size: var(--fontSizeRoot);
  font-family: var(--fontRoot), sans-serif;
  font-weight: 400;
  margin: 0;
  color: var(--colorTxt);
  position: relative;
  background: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* titles style */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 120%;
}

h1, .h1 {
  font-size: clamp(2.6rem, 5vw, 3.4rem); 
  margin: 0 0 1em; 
}

h2, .h2 {
  font-size: clamp(2.4rem, 5vw, 3.2rem); 
  margin: 0 0 1em; 
}

h3, .h3 {
  font-size: clamp(2.2rem, 5vw, 3rem); 
  margin: 0 0 1em; 
}

h4, .h4 {
  font-size: clamp(2rem, 5vw, 2.8rem); 
  margin: 0 0 1em; 
}

h5, .h5 {
  font-size: clamp(1.8rem, 5vw, 2.6rem); 
  margin: 0 0 1em; 
}

h6, .h6 {
  font-size: clamp(1.8rem, 5vw, 2.4rem); 
  margin: 0 0 1em; 
}

/* a tag style */
a {
  color: var(--colorRoot);
  transition: all var(--transit);

  &:hover {
    color: var(--colorRootHov);
  }
}

/* p tag style */
p {
  margin: 15px 0;
  line-height: 120%;
}

/* img tag style */
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: none;
}

/* blockquote tag style */
blockquote {
  padding: 10px;
}

/* ul li tag style */
ul,
ol {
  li {
    margin: 0 0 2rem 0;
  }
}

b {
  font-weight: bold;
}

/*Table*/
table {
  border-collapse: collapse;
  border: 1px solid #333;

  tr:not(thead tr):hover {
    background: var(--colorRoot);
  }

  tfoot tr,
  tfoot:hover tr {
    background: #333;
    color: #fff;
  }

  tr {
    transition: 0.2s;

    &:hover {
      background: #c7c7c7;
      transition: 0.2s;
    }

    td {
      border-bottom: 1px solid #999;
      padding: 5px 10px;
    }

    &:last-of-type td {
      border-bottom: none;
    }
  }
}

/* ===== Form Elements ===== */

form label {
  display: inline-block;
  margin: 0 0 5px 0;
}

.form-full {
  width: 100%;

  :is(input:is([type="text"],
      [type="tel"],
      [type="email"],
      [type="password"],
      [type="search"],
      [type="number"],
      [type="file"]),
    textarea,
    select) {
    width: 100%;
  }

  .password-holder,
  .select-holder {
    width: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="submit"],
input[type="search"],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
button,
select,
textarea {
  font-family: var(--fontRoot), sans-serif;
  font-size: var(--fontSizeRoot);
  display: block;
  padding: var(--inputPadding);
  border: none;
  background: #EDEDED;
  border-radius: var(--rootBdrs);
}

input[type="submit"],
input[type="search"],
button {
  border: none;
  cursor: pointer;
  font-family: var(--fontRoot), sans-serif;
}

select {
  padding-right: 30px;
  background-image: url(../../img/arrow-down-2.svg);

  option {
    padding: 22px;
  }
}

.select-holder {
  display: inline-block;
  position: relative;

  .select-arrow {
    position: absolute;
    top: 10px;
    right: 5px;
    bottom: 0;
    padding: 2px;
    width: 20px;
    height: 20px;

    svg,
    svg g {
      fill: var(--colorRoot);
    }
  }
}

.password-holder {
  display: inline-block;
  position: relative;

  input :is([type="password"], [type="text"]) {
    padding-right: 20px;
  }

  .ico {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 5px;
    bottom: 0;
  }

  .eye {
    display: none;

    svg {
      fill: var(--colorRoot);
    }
  }

  .show-pass.close .eye-close {
    display: block;
  }

  .show-pass.open .eye-open {
    display: block;
  }
}

/*Custom radio*/
.radio, .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;

  .label {
    display: inline-block;
    vertical-align: middle;
  }
}

.radio:checked+.radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #403c42;
  border-radius: 2px;
}

.radio-custom,
.radio:checked+.radio-custom::before {
  border-radius: 50%;
}

.radio:focus-visible + .radio-custom {
  outline: 2px solid var(--colorRoot);
  outline-offset: 2px;
}

/*Custom checkbox*/

.checkbox-custom {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 2px;

  .label {
    display: inline-block;
    vertical-align: middle;
  }
}

.checkbox:checked+.checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: url(../../img/checkmark-1.svg);
  background-size: contain;
  border-radius: 2px;
}

// Page Elements
header,
.header {
  padding: 10px 0;
}

section,
.section {
  padding: 30px 0 50px;
}

footer,
.footer {
  background: #333;
  padding: 50px 0;
}