/* Criss Cross */
.criss {
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 33;

  &.threelines {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s;
    .line {
      position: relative;
      width: 100%;
      height: 2px;
      background: #000;
      transition: 0.2s;
    }

    &.cross {
      .l1 {
        transform: rotate(-45deg);
        position: relative;
        top: 9px;
        transition: 0.2s;
      }

      .l2 {
        display: none;
        transition: 0.2s;
      }

      .l3 {
        transform: rotate(45deg);
        position: relative;
        bottom: 9px;
        transition: 0.2s;
      }
    }
  }
}

/* breadcrumbs */
.breadcrumbs {
  margin: 0 0 10px 0;
  padding: 3px 5px;
  list-style: none;
  background: #2e2e2e;
  color: #fff;
  font-size: 12px;

  li {
    display: inline-block;
  }

  li:after {
    content: " /";
  }

  li:last-child:after {
    content: "";
  }

  li a {
    color: #fff;
  }
}

/*Adapt-T*/
.adapt-t {
  width: 100%;
  position: relative;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .adapt-t {
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0)),
      linear-gradient(0deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25));
    background-repeat: no-repeat, no-repeat;
    background-position: right 100%, right 100%;
    background-size: 4px 100%, 4px 100%;
    background-origin: padding-box, border-box;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555;
    }

    table {
      width: 100% !important;
    }
  }
}

// top nav
.top-nav {
  display: flex;
  position: relative;

  ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }
}

.toggle-nav.criss {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .toggle-nav.criss {
    display: flex;
  }

  .top-nav {
    display: none;
    position: absolute;
    top: 100%;
    .first-nav { 
      flex-direction: column;
      padding: 10px;
      left: 0;
      background: #fff;
    }
    &.show {
      display: block;
    }

  }
}

// Modalio
.modalio-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;

  &.showIt {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s;
    z-index: 1000;
  }
}

.modalio {
  position: fixed;
  width: 100%;
  max-width: 1050px;
  padding: 20px;
  left: 0;
  right: 0;
  margin: auto;
  top: 10vh;
  background: #fff;
  opacity: 0;
  transform: translateY(20px);
  z-index: -1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  &.showIt {
    z-index: 1001;
    opacity: 1;
    transform: translateY(0);
  }
}