/* ===== Buttons ===== */

.init-btn {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  white-space: nowrap;
  margin: 0;
  border-radius: var(--rootBdrs);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
  }
}

.tag-btn {
  display: inline-block;
  padding: 5px 15px;
  margin: 0;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
  }
}

/*Blue Button*/
.blue-btn {
  background: var(--colorRoot);
  &.init-btn {
    &:hover {
      color: #fff;
      background: hsl(216, 100%, 53%);
    }
  }
  &.t {
    color: rgba(116, 143, 200, 1);
  }
}

/*White Button*/
.white-btn {
  background: #fff;
  &.init-btn {
    color: var(--colorRoot);
    &:hover {
      color: var(--colorRoot);
      background: #e6e6e6;
    }
  }
  &.t {
    color: #fff;
  }
}

/*Black Button*/
.black-btn {
  background: hsl(0, 0%, 20%);
  &.init-btn {
    &:hover {
      color: #fff;
      background: hsl(0, 0%, 10%);
    }
  }
  &.t {
    color: hsl(0, 0%, 20%);
  }
}

/*Green Button*/
.green-btn {
  background: hsl(113, 78%, 32%);
  &.init-btn {
    &:hover {
      color: #fff;
      background: hsl(113, 78%, 22%);
    }
  }
  &.t {
    color: hsl(113, 78%, 32%);
  }
}

/*Red Button*/
.red-btn {
  background: hsl(0, 75%, 38%);
  &.init-btn {
    &:hover {
      color: #fff;
      background: hsl(0, 75%, 28%);
    }
  }
  &.t {
    color: hsl(0, 75%, 38%);
  }
}

/*Gray Button*/
.gray-btn {
  background: hsl(0, 0%, 59%);
  &.init-btn {
    &:hover {
      color: #fff;
      background: hsl(0, 0%, 49%);
    }
  }
  &.t {
    color: hsl(0, 0%, 59%);
  }
}

/*Pink Button*/
.gray-btn {
  background: rgb(245, 110, 110);
  &.init-btn {
    &:hover {
      color: #fff;
      background: hsl(0, 87%, 65%);
    }
  }
  &.t {
    color: rgb(245, 110, 110);
  }
}

/*Orange Button*/
.gray-btn {
  background: hsl(27, 100%, 63%);
  &.init-btn {
    &:hover {
      color: #fff;
      background: hsl(27, 100%, 58%);
    }
  }
  &.t {
    color: hsl(27, 100%, 63%);
  }
}

.t,
.t:hover {
  padding: 0;
  background: none !important;
}