/* full height page container for always bottom footer */ 
.contento {
  flex-grow: 1;
  flex-shrink: 0;
}

/* center page content */
.centro {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
}

/* center background image */
.midnight {
  position: relative;
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;

  img {
    position: absolute;
    display: block;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .mid-cont {
    position: relative;
    z-index: 2;
  }
}

/* cover */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#111111a4, #1111113a);
  z-index: 2;
}

/* shadow */
.shad {
  box-shadow: 0px 0px 17.69px -4px rgba(0, 0, 0, 0.25);
}

.ttu {
  text-transform: uppercase;
}

.oh {
  position: relative;
  overflow: hidden;
}

.lisn {
  list-style: none;
  padding-left: 0;
}

.img-holder {
  img,
  svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

/* copyright block */
.copyright {
  padding: 25px 0;
  margin: 25px 0 0 0;
  font-size: 1.4rem;
  border-top: solid 1px #a29f9c;
  color: #bfbfbf;
}

/* coub icons collections */
.ico {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  img,
  svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.ws {
  white-space: nowrap;
}
.cp {
  cursor: pointer;
}

.ico-16 {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
}

.ico-20 {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
}

.ico-24 {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
}

.ico-28 {
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
}

.ico-32 {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
}

.ico-36 {
  width: 36px;
  height: 36px;
  flex: 0 0 36px;
}

.ico-40 {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
}

.ico-44 {
  width: 44px;
  height: 44px;
  flex: 0 0 44px;
}

.ico-60 {
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
}

.ico-80 {
  width: 80px;
  height: 80px;
  flex: 0 0 80px;
}

.ico-100 {
  width: 100px;
  height: 100px;
  flex: 0 0 100px;
}

.ico-140 {
  width: 140px;
  height: 140px;
  flex: 0 0 140px;
}

.ico-160 {
  width: 160px;
  height: 160px;
  flex: 0 0 160px;
}

.ico-200 {
  width: 200px;
  height: 200px;
  flex: 0 0 200px;
}

/* gap */
.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-35 {
  gap: 35px;
}

.gap-40 {
  gap: 40px;
}

.gap-45 {
  gap: 45px;
}

.gap-50 {
  gap: 50px;
}

/* radius */
.radi-5 {
  border-radius: 5px;
}

.radi-10 {
  border-radius: 10px;
}

.radi-15 {
  border-radius: 15px;
}

.radi-20 {
  border-radius: 20px;
}

.radi-25 {
  border-radius: 25px;
}

.radi-30 {
  border-radius: 30px;
}

.radi-35 {
  border-radius: 35px;
}

.radi-40 {
  border-radius: 40px;
}

.radi-45 {
  border-radius: 45px;
}

.radi-50 {
  border-radius: 50px;
}

/* all side padding */
.padi-5 {
  padding: 5px;
}

.padi-10 {
  padding: 10px;
}

.padi-15 {
  padding: 15px;
}

.padi-20 {
  padding: 20px;
}

.padi-25 {
  padding: 25px;
}

.padi-30 {
  padding: 30px;
}

.padi-35 {
  padding: 35px;
}

.padi-40 {
  padding: 40px;
}

.padi-45 {
  padding: 45px;
}

.padi-50 {
  padding: 50px;
}

/* margin constructor */
.marge-100 {
  --varMarge: 10rem;
  margin: var(--varMarge) 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-75 {
  --varMarge: 7.5rem;
  margin: var(--varMarge) 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-50 {
  --varMarge: 5rem;
  margin: var(--varMarge) 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-40 {
  --varMarge: 4rem;
  margin: 4rem 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-35 {
  --varMarge: 3.5rem;
  margin: 3.5rem 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-25 {
  --varMarge: 2.5rem;
  margin: var(--varMarge) 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-15 {
  --varMarge: 1.5rem;
  margin: var(--varMarge) 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-10 {
  --varMarge: 1rem;
  margin: var(--varMarge) 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

.marge-5 {
  --varMarge: 0.5rem;
  margin: var(--varMarge) 0;

  &.toperm {
    margin-top: var(--varMarge);
    margin-bottom: 0;
  }

  &.boterm {
    margin-top: 0;
    margin-bottom: var(--varMarge);
  }
}

/* padding constructor */
.padge-100 {
  --varPadge: 10rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

.padge-75 {
  --varPadge: 7.5rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

.padge-50 {
  --varPadge: 5rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}


.padge-40 {
  --varPadge: 4rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

.padge-35 {
  --varPadge: 3.5rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

.padge-25 {
  --varPadge: 2.5rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

.padge-15 {
  --varPadge: 1.5rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

.padge-10 {
  --varPadge: 1rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

.padge-5 {
  --varPadge: 0.5rem;
  padding: var(--varPadge) 0;

  &.toperp {
    padding-top: var(--varPadge);
    padding-bottom: 0;
  }

  &.boterp {
    padding-bottom: var(--varPadge);
    padding-top: 0;
  }
}

/* flex block constructor */
.lic {
  display: flex;
  align-items: center;
}

/* horizontal */
.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

/* vertical */
.ais {
  align-items: start;
}

.aie {
  align-items: end;
}

.aish {
  align-items: stretch;
}

/* other */
.fw {
  flex-wrap: wrap;
}
.fwr {
  flex-wrap: wrap-revers;
}

.f100 {
  flex: 1 1 100%;
}

.fdrr {
  flex-direction: row-reverse;
}

.fdc {
  flex-direction: column;
}

.fdcr {
  flex-direction: column-reverse;
}

.ase {
  align-self: end;
}

.cell > * {
  flex: 1 1 100%;
}

.chess > * {
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.chess-rws > * {
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

/* pagination */
.pagination {
  padding: 20px 0 0 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;

    &.active {
      padding: 10px;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 10px;
    }
  }
}

/* section */
section,
.section {
  padding: 30px 0 50px;
}

/* title holder */
.title-holder {
  margin: 0 0 20px;
  .title {
    margin-top: 0;
  }
}

/* logo */
.logo {
  display: block;
  width: 100%;
  max-width: 200px;

  img,
  svg {
    display: block;
    width: 100%;
  }
}

/* breadcrumbs */
.breadcrumbs {
  margin: 0 0 10px 0;
  padding: 3px 5px;
  list-style: none;
  background: #2e2e2e;
  color: #fff;
  font-size: 12px;

  li {
    display: inline-block;
  }

  li:after {
    content: " /";
  }

  li:last-child:after {
    content: "";
  }

  li a {
    color: #fff;
  }
}

/*Adapt-T*/
.adapt-t {
  width: 100%;
  position: relative;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .adapt-t {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0)
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25)
      );
    background-repeat: no-repeat, no-repeat;
    background-position: right 100%, right 100%;
    background-size: 4px 100%, 4px 100%;
    background-origin: padding-box, border-box;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555;
    }

    table {
      width: 100% !important;
    }
  }
}

/* adaptive height elements */
.h-10 {
  min-height: 10vh;
}

.h-15 {
  min-height: 15vh;
}

.h-20 {
  min-height: 20vh;
}

.h-25 {
  min-height: 25vh;
}

.h-30 {
  min-height: 30vh;
}

.h-35 {
  min-height: 35vh;
}

.h-40 {
  min-height: 40vh;
}

.h-45 {
  min-height: 45vh;
}

.h-50 {
  min-height: 50vh;
}
.h-55 {
  min-height: 55vh;
}
.h-60 {
  min-height: 60vh;
}
.h-65 {
  min-height: 65vh;
}
.h-70 {
  min-height: 70vh;
}
.h-75 {
  min-height: 75vh;
}
.h-80 {
  min-height: 80vh;
}
.h-85 {
  min-height: 85vh;
}
.h-90 {
  min-height: 90vh;
}
.h-95 {
  min-height: 95vh;
}
.h-100 {
  min-height: 100vh;
}