/* ===== Form Elements ===== */

form label {
  display: inline-block;
  margin: 0 0 5px 0;
}

.form-full {
  width: 100%;

  :is(
      input:is(
          [type="text"],
          [type="tel"],
          [type="email"],
          [type="password"],
          [type="search"],
          [type="number"],
          [type="file"]
        ),
      textarea,
      select
    ) {
    width: 100%;
  }
   
  .password-holder,
  .select-holder {
    width: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="submit"],
input[type="search"],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
button,
select,
textarea {
  font-family: var(--fontRoot), sans-serif;
  font-size: var(--fontSizeRoot);
  display: block;
  padding: var(--inputPadding);
  margin-bottom: 10px;
  border: none;
  background: #EDEDED;
  border-radius: var(--rootBdrs);
}

input[type="submit"],
input[type="search"],
button {
  border: none;
  cursor: pointer;
  font-family: var(--fontRoot), sans-serif;
}

select {
  padding-right: 30px;
  background-image: url(../img/arrow-down-2.svg);

  option {
    padding: 22px;
  }
}

.select-holder {
  display: inline-block;
  position: relative;

  .select-arrow {
    position: absolute;
    top: 10px;
    right: 5px;
    bottom: 0;
    padding: 2px;
    width: 20px;
    height: 20px;

    svg,
    svg g {
      fill: var(--colorRoot);
    }
  }
}

.password-holder {
  display: inline-block;
  position: relative;

  input :is([type="password"], [type="text"]) {
    padding-right: 20px;
  }

  .ico {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 5px;
    bottom: 0;
  }

  .eye {
    display: none;

    svg {
      fill: var(--colorRoot);
    }
  }

  .show-pass.close .eye-close {
    display: block;
  }

  .show-pass.open .eye-open {
    display: block;
  }
}

/*Custom radio*/
.radio {
  display: none;
}

.radio-custom {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;

  .label {
    display: inline-block;
    vertical-align: middle;
  }
}

.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #403c42;
  border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}

/*Custom checkbox*/
.checkbox {
  display: none;
}

.checkbox-custom {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 2px;

  .label {
    display: inline-block;
    vertical-align: middle;
  }
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: url(http://5bro.ru/template/storage/checkmark-1.svg);
  -webkit-background-size: contain;
  background-size: contain;
  border-radius: 2px;
}